{% extends "admin/base.html" %}

{% block title %}{{ title }} | Stone Stock admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Stone Stock Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
