{% extends 'stone/base.html' %}
{% load static %}
{% block main_content %}
<header id="home_about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 head">
        <h1 class="text-center">About</h1>
      </div>
    </div>
  </div>
</header>
<section id="main_about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 abt-container text-center">
        <h3>Some words about Stone Stock</h3>
        <p class="sub-head">why we are different</p>
        <p class="sub-content">Nature always possess a unique constellation of features that sets them apart from man-made locations. Attention like strange things, moving things, wild animals, bright things, pretty things, words, blows etc. all attract our attention involuntarily. Stonestock incorporate this two qualities of men and nature in our way of ornamentation of buildings.We have nothing to boast upon but one thing we can guarantee is that our work will surely satify you.We have a group of good and young dedicated labours who will always finish oue work gracefully.These are the two features of stonestock that set us apart from our competitors.Our objective is to decor with simple techniques that don't further pollute the environment or unnecessarily extract the resources of Mother Earth. These techniques, by their very nature, have an aesthetic value that tends to blend in with the environment and "feel" natural. Being close to nature is always a wonderful thing .It will sure improve your quality and view of life. We are established in Haripad,which is known as the land of art, artists, land of snake boats, land of music, dance and drama.This cultural background gives you the hint of our quality.</p>
      </div>
    </div>
  </div>
</section>
<section id="moreinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 more-base match-about">
        <div class="more-abt">
            <h2>CREATIVE ARTISTS</h2>
        </div>
        <div class="more-sub">
            <p>
              We always focus on those ways of building that minimize the use of products that require considerable embodied energy for their manufacture or transportation which will surely help your budget.We decor buildings with most beautiful and high quality pebbles and stones in a sustainable way. We make your garden as heaven with unique styling of lawns by our high skilled workers.Our work and our designs are surely unique in all ways because we design by knowing the heart our customers.Plenty of satisfied faces led us here.Dont's hesitate,contact us.You won't be dissappointed,it's Stonestock's promise.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 more-outer">
        <img src="{% static 'img/sli3.jpg' %}" class="img-responsive match-about" alt="">
      </div>
    </div>
  </div>
</section>
  {% endblock %}
