{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="eNtMK9bs8voDMV4CPzPhxXpvR73TmYNWDosEm-qu8cs" />

  <meta name="description" content="Stonestock is the best artificial grass dealers and stone dealers for gardening and landscape works in Haripad,Alapppuzha,Kerala."/>

  <meta name="keyword" content="Stonestock,Haripad,grass dealers,stone delears,landscape and gardening  works,Alapppuzha,Haripad"/>

  <meta name ="robots" Content="ALL, INDEX, FOLLOW"/>

  <meta name="distribution" Content ="Global"/>

  <meta name="Author" content="Crypstal" />

  <meta name="rating" content="General"/>

  <meta http-equiv="content-language" content="en-us">

  <meta name="language" content="en-us"/>

  <meta http-equiv="CACHE-CONTROL" content="PUBLIC"/>

  <meta name="YahooSeeker" content="INDEX, FOLLOW"/>

  <meta name="MSNBOT" content="INDEX, FOLLOW"/>

  <meta name="GOOGLEBOT" content="index, follow, all"/>

  <meta name="revisit-after" content="3 days" />

  <meta name="geo.region" content="IN-KL" />

  <meta name="geo.placename" content="Haripad" />

  <meta name="geo.position" content="9.274038;76.459889" />

  <meta name="ICBM" content="9.274038, 76.459889" />

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
  	<title>Stonestock|Stone and Grass Dealers Haripad</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="{% static 'js/modernizr.custom.79639.js' %}"></script>
  <noscript>
  <link rel="stylesheet" href="{% static 'css/styleNoJS.css' %}">
</noscript>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="{% static 'js/jquery.matchHeight-min.js' %}" charset="utf-8"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="{% static 'js/lightbox.js' %}" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js" charset="utf-8"></script>
</head>
<body>
  <header class="hide-small">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a class="logo" href="/"><img src="{%static 'img/logo.png' %}" class="img-responsive" alt=""></a>
        </div>
        <div class="col-md-6 top-cont">
          <div class="row">
            <div class="col-md-4 m1">
              <div class="row">
                <div class="col-sm-3 text-right">
                  <span class="fa fa-phone " aria-hidden="true"></span>
                </div>
                <div class="col-md-9">
                  <p class="sub-head" >+918289818181</p>
                  <p class="sub-head" >+919495939495</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 m1">
              <div class="row">
                <div class="col-sm-3 text-right">
                  <span class="fa fa-map-marker" aria-hidden="true"></span>
                </div>
                <div class="col-md-9">
                  <p class="sub-head" >Haripad</p>
                  <p class="sub-head" >Alappuzha</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 m1 ">
              <div class="row">
                <div class="col-sm-3 text-right">
                  <span class="fa fa-clock-o" aria-hidden="true"></span>
                </div>
                <div class="col-md-9">
                  <p class="sub-head" >09:00am-06:00pm</p>
                  <p class="sub-head" >Moday - Saturday</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-list" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" class="img-responsive" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-list">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block main_content %}

    {% endblock %}
    <footer>
  <div class="container">
    <div class="contents row">
      <div class="col-md-4 item">
        <h4>About</h4>
        <p>Nature always possess a unique constellation of features that sets them apart from man-made locations. Attention like strange things, moving things, wild animals, bright things, pretty things, words, blows etc. </p>
      </div>
      <div class="col-md-4 item">
        <h4>Mission</h4>
        <p>We always focus on those ways of building that minimize the use of products that require considerable embodied energy for their manufacture or transportation which will surely help your budget. </p>
      </div>
      <div class="col-md-4 item">
        <h4>Contact Info</h4>
        <p class="footer-subhead">Our Address</p>
        <p>RK Junction, <br>Haripad,<br>Alappuzha</p>
        <p class="footer-subhead">Email</p>
        <p><a href="mailto:info@stonestock.in">info@stonestock.in</a></p>
      </div>
    </div>

  </div>
  <div class="footer text-center">
      <p>Copyright (c) 2017 Crypstal All Rights Reserved.</p>
  </div>
</footer>
    <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
      <script src="{% static 'js/jquery.slitslider.js' %}"></script>


      <script src="{% static 'js/scripts.js' %}"></script>
  </body>
  </html>
