{% extends 'stone/base.html' %}
{% load static %}
{% block main_content %}
<header id="home_contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 head">
          <h1 class="text-center">CONTACT US</h1>
        </div>
      </div>
    </div>
  </header>
  <section id ="contact-form">
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h3 class="cont-head text-center">All way to contact us</h3>
          <p class="cont-sub text-center">drop us a message we will contact you shortly</p>
        </div>
      </div>
      <form method="post" id="contact_form" class="row" accept-charset="utf-8">
        {% csrf_token %}
          <div class="col-md-12 input">
            <label >Name</label>
            <input type="text" name="fname" class="form-control"  placeholder="Name" required="true">
          </div>
           <div class="col-md-6 input">
            <label >Email</label>
            <input type="text" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email" required="true">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
            <div class="col-md-6 input">
            <label >Phone Number</label>
            <input type="text" name="pno" class="form-control"  placeholder="Phone Number" required="true">
          </div>
          <div class="col-md-12 input">
            <label >Write your message here</label>
            <textarea class="form-control" name="message" rows="6" required="true"></textarea>
          </div>
          <div class="col-md-12 input">
            <a id="submit" class="btn btn-primary">SEND MESSAGE</a>

            <div  id="result" class="alert alert-danger" role="alert"><p ></p></div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
</section>
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 match" id="map">

			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSTBlBfn3zPQw0aJI2s024FkWYUjHHRy4&callback=initMap"></script>
<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', init);

function init() {
	var mapOptions = {
			zoom: 16,
      scrollwheel: false,

			center: new google.maps.LatLng(9.2720711,76.4603054),


			styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
	};

	var mapElement = document.getElementById('map');

	var map = new google.maps.Map(mapElement, mapOptions);

	var marker = new google.maps.Marker({
			position: new google.maps.LatLng(9.2720711,76.4603054),
			map: map,
			title: 'Stone Stock'
	});
}
</script>
  {% endblock %}
