{% extends 'stone/base.html' %}
{% load static %}
{% block main_content %}
<section id="carousel">
  <div class="m_slider">
      <div id="slider" class="sl-slider-wrapper">
          <div class="sl-slider">
              <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                  <div class="sl-slide-inner">
                      <h2 class="animated bounceInLeft">WELCOME TO STONESTOCK</h2>
                      <blockquote class="animated bounceInRight" ><p><span>EMBELLISHING PEARLS</span></p></blockquote>
                  </div>
              </div>
              <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                  <div class="sl-slide-inner">
                      <div class="deco" data-icon="q"></div>
                      <h2 class="animated bounceInLeft" >WELCOME TO STONESTOCK</h2>
                      <blockquote class="animated bounceInRight"><p><span>EMBELLISHING PEARLS</span></p></blockquote>
                  </div>
              </div>
              <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                  <div class="sl-slide-inner">
                      <div class="deco" data-icon="O"></div>
                      <h2 class="animated flipInX">WELCOME TO STONESTOCK</h2>
                      <blockquote class="animated bounceInRight"><p><span>EMBELLISHING PEARLS</span></p></blockquote>
                  </div>
              </div>
          </div>
          <div id="nav-arrows" class="nav-arrows">
              <span class="nav-arrow-prev">Previous</span>
              <span class="nav-arrow-next">Next</span>
          </div>
          <div id="nav-dots" class="nav-dots">
              <span class="nav-dot-current"></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
</section>
<section id="about">
<div class="container">
  <div class="row">
  <div class="col-md-8 about-head">
    <h1><span style="color:#286DA8">STONE</span> STOCK - OVERVIEW</h1>
    <div class="about-holder">
      <p>Nature always possess a unique constellation of features that sets them apart from man-made locations. Attention like strange things, moving things, wild animals, bright things, pretty things, words, blows etc. all attract our attention involuntarily. Stonestock incorporate this two qualities of men and nature in our way of ornamentation of buildings.We have nothing to boast upon but one thing we can guarantee is that our work will surely satify you.We have a group of good and young dedicated labours who will always finish oue work gracefully.</p>
    </div>
  </div>
  <div class="col-md-4 about-head service">
    <h1>OUR SERVICES</h1>
    <ul class="services">
      <li><a href="/services">Decorating Stones</a></li>
      <li><a href="/services">Stone Sculptures</a></li>
      <li><a href="/services">Artificial Grass</a></li>
      <li><a href="/services">Paving Stones</a></li>
    </ul>
  </div>
</div>
</div>
</section>
<section id="portfolio">
  <div class="container contents">
    <div class="row">
      <div class="head col-md-12 text-center">
        <h2 class="heading">Featured PRODUCTS</h2>
        <p>Some of our featured products</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 items">
        <div class="owl-carousel owl-theme">
          {% for product in products %}
           <div class="item">
            <img class="port img-responsive" style="height:250px; width:100%;" src="{{ product.image.url }}">
            <div class="text">
              <h4 class="text-center">{{ product.title }}</h4>
              <p>{{ product.description }}</p>
              <h5>Type : {{ product.productType }}</h5>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

  {% endblock %}
