{% extends 'stone/base.html' %}
{% load static %}
{% block main_content %}
<header id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 head">
        <h1 class="text-center">Products</h1>
      </div>
    </div>
  </div>
</header>
<section id="product_main">
  <div class="container">
    <div class="row items">
      {% for product in products %}
      <div class="col-md-4 item-holder">
        <div class="item">
          <img class="img-responsive" style="height:250px; width:100%;" src="{{ product.image.url }}" alt="">
          <div class="text">
            <h4 class="text-center">{{ product.title }}</h4>
            <p>{{ product.description }}</p>
            <h5>Type : {{ product.productType }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}
