{% extends 'stone/base.html' %}
{% load static %}
{% block main_content %}
<header id="home_services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 head">
        <h1 class="text-center">Services</h1>
      </div>
    </div>
  </div>
</header>
<section id="services">
  <div class="container">
    <div class="row items">
      <div class="col-md-3 item-holder m8">
        <div class="item" id="item1">
          <img class="img-responsive" src="{% static 'img/about_bg.jpg' %}" alt="">
          <h3>DECORATING STONES</h3>
          <p>We decor buildings with most beautiful and high quality pebbles and stones in a sustainable way.</p>
        </div>
      </div>
      <div class="col-md-3 item-holder m8">
        <div class="item" id="item2">
          <img class="img-responsive" src="{% static 'img/grass4.jpg' %}" alt="">
          <h3>ARTIFICIAL GRASS</h3>
          <p>We make your garden as heaven with unique styling of lawns by our high skilled workers.</p>
        </div>
      </div>
      <div class="col-md-3 item-holder m8">
        <div class="item" id="item3">
          <img class="img-responsive" src="{% static 'img/sli1.jpg' %}" alt="">
          <h3>STONE SCULPTURES</h3>
          <p>We decor your garden and interiors with beutiful and high quality stone scultptures.</p>
        </div>
      </div>
      <div class="col-md-3 item-holder m8">
        <div class="item" id="item4">
          <img class="img-responsive" src="{% static 'img/pav3.jpg' %}" alt="">
          <h3>PAVING STONES</h3>
          <p>We decor your garden with beutiful and high quality paving stones.</p>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="item1-tab">
        <div class="row sub-items">
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/stone1.jpg' %}" data-lightbox="image-2"><img class="img-responsive" src="{% static 'img/stone1.jpg' %}" alt=""></a>

            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/stone2.jpg' %}" data-lightbox="image-2"><img class="img-responsive" src="{% static 'img/stone2.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/stone3.jpg' %}" data-lightbox="image-2"><img class="img-responsive" src="{% static 'img/stone3.jpg' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="item2-tab">
        <div class="row sub-items">
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/grass1.jpg' %}" data-lightbox="image-3"><img class="img-responsive" src="{% static 'img/grass1.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/grass2.jpg' %}" data-lightbox="image-3"><img class="img-responsive" src="{% static 'img/grass2.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/grass3.jpg' %}" data-lightbox="image-3"><img class="img-responsive" src="{% static 'img/grass3.jpg' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="item3-tab">
        <div class="row sub-items">
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/scul1.jpg' %}" data-lightbox="image-4"><img class="img-responsive" src="{% static 'img/scul1.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/scul2.jpg' %}" data-lightbox="image-4"><img class="img-responsive" src="{% static 'img/scul2.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/sli1.jpg' %}" data-lightbox="image-4"><img class="img-responsive" src="{% static 'img/sli1.jpg' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="item4-tab">
        <div class="row sub-items">
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/pav2.jpg' %}" data-lightbox="image-4"><img class="img-responsive m9" src="{% static 'img/pav2.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/pav3.jpg' %}" data-lightbox="image-4"><img class="img-responsive m9" src="{% static 'img/pav3.jpg' %}" alt=""></a>
            </div>
          </div>
          <div class="col-md-4 item-holder">
            <div class="item">
              <a href="{% static 'img/pav4.jpg' %}" data-lightbox="image-4"><img class="img-responsive m9" src="{% static 'img/pav4.jpg' %}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
