/* Content elements */
#carousel
{
	padding-top: 0;
}
.m_slider .sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 2000;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 8px solid #ddd;
	border: 8px solid rgba(150,150,150,0.4);
	text-indent: -90000px;
	margin-top: -40px;
	cursor: pointer;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-arrows span:hover {
	border-color: rgba(150,150,150,0.9);
}

.nav-arrows span.nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
}

.nav-arrows span.nav-arrow-next {
	right: 5%;
	border-left: none;
	border-bottom: none;
}

/* Custom navigation dots */

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 2%;
	height: 30px;
	width: 100%;
	left: 0;
	z-index: 1000;
}

.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(150,150,150,0.4);
	cursor: pointer;
	box-shadow:
		0 1px 1px rgba(255,255,255,0.4),
		inset 0 1px 1px rgba(0,0,0,0.1);
}

.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: rgba(255,255,255,0.8);
}
.m_slider .sl-slide h2 {
	color: #fff;
	/*text-shadow: 0 0 1px #000;*/
	padding: 20px;
	position: absolute;
	font-size: 64px;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
	width: 80%;
	background: rgba(0, 0, 0, 0.20);
	left: 10%;
	text-align: center;
	line-height: 50px;
	bottom: 65%;
	margin: 0 0 -120px 0;
}
.m_slider .sl-slide span {
	background: rgba(0, 0, 0, 0.20);
}
.m_slider .sl-slide .dream
{
	bottom: 55%;
}

.m_slider .sl-slide blockquote {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;

	font-size: 20px;
	font-weight: lighter;
	height: 70px;
	color: #fff;
	z-index: 2;
	bottom: 65%;
	margin: 0 0 -200px 0;
	padding: 0;
	border: 0;
}

.m_slider .sl-slide blockquote p{
	margin: 0 auto;
	width: 60%;
	position: relative;
        text-transform: uppercase;
}


.m_slider .sl-slide blockquote cite {
	font-size: 10px;
	padding-top: 30px;
	display: inline-block;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
}

/* Custom background colors for slides in first demo */

/* First Slide */
.m_slider .bg-1 .sl-slide-inner,
.m_slider .bg-1 .sl-content-slice {
	background:url("../img/sli3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Second Slide */
.m_slider .bg-2 .sl-slide-inner,
.m_slider .bg-2 .sl-content-slice {
	background:url("../img/sli1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.m_slider .bg-2 [data-icon]:after,
.m_slider .bg-2 h2 {
	color: #fff;
}

.m_slider .bg-2 blockquote:before {
	color: #222;
}

/* Third Slide */
.m_slider .bg-3 .sl-slide-inner,
.m_slider .bg-3 .sl-content-slice {
	background:url("../img/sli2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.m_slider .bg-3 .deco {
	border-color: #fff;
	border-color: rgba(255,255,255,0.5);
}

.m_slider .bg-3 [data-icon]:after {
	color: #fff;
	text-shadow: 0 0 1px #fff;
	box-shadow: inset 0 0 0 10px #b55381;
}

.m_slider .bg-3 h2,
.m_slider .bg-3 blockquote{
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.m_slider .bg-3 blockquote:before {
	color: #c46c96;
}

/* Forth Slide */
.m_slider .bg-4 .sl-slide-inner,
.m_slider .bg-4 .sl-content-slice {
	background:url("../img/slide1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.m_slider .bg-4 .deco {
	border-color: #379eaa;
}

.m_slider .bg-4 [data-icon]:after {
	text-shadow: 0 0 1px #277d87;
	color: #277d87;
}

.m_slider .bg-4 h2,
.m_slider .bg-4 blockquote{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.m_slider .bg-4 blockquote:before {
	color: #379eaa;
}

/* Fifth Slide */
.m_slider .bg-5 .sl-slide-inner,
.m_slider .bg-5 .sl-content-slice {
	background:url("../img/slide5.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.m_slider .bg-5 .deco {
	border-color: #ECD82C;
}

.m_slider .bg-5 .deco:after {
	color: #000;
	text-shadow: 0 0 1px #000;
}

.m_slider .bg-5 h2,
.m_slider .bg-5 blockquote{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.m_slider .bg-5 blockquote:before {
	color: #ecd82c;
}



/* Animations for content elements */

.sl-trans-elems .deco{
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}


/* Media Queries for custom slider */

@media screen and (max-width: 660px) {
	.m_slider .deco {
		width: 130px;
		height: 130px;
		margin-left: -65px;
		margin-bottom: 50px;
	}

	.m_slider [data-icon]:after {
		width: 110px;
		height: 110px;
		line-height: 110px;
		font-size: 40px;
		margin: -55px 0 0 -55px;
	}

	.m_slider .sl-slide blockquote {
		margin-bottom: -120px;
	}

	.m_slider .sl-slide h2 {
		line-height: 22px;
		font-size: 18px;
		margin-bottom: -40px;
		letter-spacing: 8px;
	}

	.m_slider .sl-slide blockquote p:before {
		line-height: 10px;
		width: 40px;
		height: 40px;
		font-size: 120px;
		left: -45px;
	}



}

/*slider*/

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'AnimalsNormal';
    src: url('fonts/animals-webfont.eot');
    src: url('fonts/animals-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/animals-webfont.woff') format('woff'),
         url('fonts/animals-webfont.ttf') format('truetype'),
         url('fonts/animals-webfont.svg#AnimalsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #555;
	text-decoration: none;
}

#carousel .container {
	width: 100%;
	position: relative;
}

.m_slider {
	position: relative;
	height: 80vh;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.container > header,
.content-wrapper {
	padding: 30px;
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.content-wrapper p{
	padding-top: 30px;
	line-height: 26px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 10px;
}

.m_slider .codrops-demos {
	position: absolute;
	z-index: 2000;
	top: 30px;
	left: 30px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #883d59;
	border-color: #883d59;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

/*style*/
.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

/*NoJs*/

.top-pad
{
	padding-top: 60px;
}
.bottom-pad
{
	margin-bottom: 10px;
}

header .logo img
{
	height: 90px;
}
header .top-cont
{
	padding-top: 20px;
}
header .fa
{
	font-size: 2em;
	color: #0196AD;
}
section
{
	padding-top: 3em;
	padding-bottom: 3em;
}
header p
{
	line-height: 14px;
	font-weight: 200;
	font-style: normal;
	color: #343e47;
	margin-bottom: 5px;

}
header .head-btn
{
	color: #000;
	font-weight: bold;
	border-radius: 0;
	padding: 15px 20px;
	border: 2px solid #286DA8;
}
header .m1
{
	margin-top: 8px;
}
/* Navbar */
.navbar-default
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	background: #5EB7CB;
	border: none;
	border-radius: 0px;
}
.navbar-default .navbar-brand
{
	padding-top: 8px;
}
.navbar-brand>img
{
	height: 50px;
}
.navbar-default .navbar-nav>li>a
{
	font-family: Raleway;
  line-height: 24px;
  font-weight: 900;
	color: #fff;
  font-style: normal;
  font-size: 15px;
  opacity: 1;
}
.navbar-default .navbar-nav>li>a:visited,.navbar-default .navbar-nav>li>a:focus
{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover
{
	color: #fff;
}
.navbar-header
{
	display: none;
}
.navbar-collapse
{
	float: right;
}
.shrink
{
	background-color: #fff;
	animation: shrinking 0.3s 1;
}
.shrink .navbar-nav>li>a
{
	color: #0196AD !important;
}
.shrink .navbar-header
{
	display: block;
}
.shrink .navbar-collapse
{
	float: right;
}
@-webkit-keyframes shrinking {
    from {margin-top: -50px;}
    to {margin-top: 0px;}
}

@keyframes shrinking {
    from {margin-top: -50px;}
    to {margin-top: 0px;}
}
@media screen and (max-width: 1000px) {
    .hide-small {
        display: none;
    }
}

#about
{
	font-size: 1.3em;
	line-height: 30px;
	font-weight:lighter;
}
#about .about-head h1
{
	font-size: 34px;
	font-weight: 400;
}
#about .about-holder p
{
	color: #828a8f;
	line-height: 34px;
	font-size: 22px;
	text-align: justify;
}
#about .about-holder
{
	padding-top: 30px;
}
@media (max-width:767px){
	#about .about-holder
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	#about .about-head{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width:991px){
	#about .about-holder
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	#about .about-head{
		padding-left: 0px;
		padding-right: 0px;
	}
}
#about .service
{
	padding-top: 30px;
	text-align: center;
}
#about .services li
{
	cursor: pointer;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px 0px;
	background: #286DA8;
	text-align: center;
	border-radius: 5px;
	transition: 1s ease;
}
#about .services li a
{
	color: #fff;
	text-decoration: none;
}
#about .services li:hover
{
	background: #333;
}
#moreinfo
{
		margin: 0;
		padding: 0;
		background: #D3E2E4;
		height: 100%;

}
#moreinfo .more-base h2
{
	color: #4E4C4C;
}
#moreinfo .more-base p
{
	padding-top:20px;
	line-height: 30px;
	font-size: 1.2em;
	font-weight: lighter;
	color: #4E4C4C;
}
#moreinfo .more-base button
{
	background: #c12a39;
	border: none;
	font-size: 10px;
	width: 140px;
	height: 40px;
	margin-top: 20px;
	border-radius: 2px;


}
#moreinfo .more-base
{
	padding-top:60px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;

}
#moreinfo .more-outer
{
	margin: 0;
	padding: 0;
}
#product_main .item-holder
{
	padding: 15px;
}
#product_main .item
{
	border: 5px solid #eee;
	overflow: hidden;
	position: relative;
}
#product_main .item img
{
	transition: 0.5s ease;
}
#product_main .item:hover img
{
	filter: grayscale(100%);
}
#product_main .item .text
{
		position: absolute;
    top: 0%;
    left: 0%;
    font-size: 18px;
    width: 90%;
    height: 85%;
    background: rgba(255, 255, 255, 1);
    margin: 0px;
    transition: 0.5s ease;
		opacity: 0;
		margin: 5%;
		transform: scale(0);
}
#product_main .item:hover .text
{
	padding: 20px 10px;
	opacity: 1;
	transform: scale(1);
}

#product_main .item .text p
{
	color: #000;
	text-align: center;
	font-weight: 200;
	font-size: 0.8em;
}
#product_main .item .text h4
{
	text-transform: uppercase;
}
#product_main .item .text h5
{
	font-weight: 400;
	text-transform: uppercase;
}

#product_main .item .text p span
{
	font-size: 1.3em;
	font-weight: 300;
}

#main_about h3
{
	font-weight: 400;
	font-size: 34px;
	letter-spacing: -1px;
}
#main_about .abt-container:hover>hr
{
    width: 200px;
}
#main_about
{
	padding-top: 4em;
	padding-bottom: 4em;
}
#main_about hr
{
    margin: 0 auto;
    padding: 0;
    height: 4px;
    width: 100px;
    background: #DC143C;
    -webkit-transition: width 2s;
    transition: width 2s;
}
#main_about .sub-head
{
	padding-bottom: 10px;
	font-size: 22px;
	opacity: 0.6;
	line-height: 1.2;
}
#main_about .abt-container .sub-content
{
	opacity: .6;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: justify;
}
#portfolio
{
	padding-top: 20px;
}
#portfolio .contents
{
	padding-bottom: 30px;
}
#portfolio .heading
{
	margin-bottom: 20px;
	font-size: 34px;
	font-weight: 400;
	color: #286DA8;
}
#portfolio .head p
{
	font-size: 1.5em;
	font-weight: lighter;
	padding-bottom: 20px;
	color: #a8a8a8;
}
#portfolio .head:hover .hr-heading
{
	width: 100px;
	border-color: #fff;
}
#portfolio .items
{
	padding-top: 30px;
}
#portfolio .items .item
{
	border: 5px solid #eee;
	overflow: hidden;
	position: relative;
}
#portfolio .items .item img
{
	transition: 0.5s ease;
}
#portfolio .items .item:hover img
{
	filter: grayscale(100%);
}
#portfolio .items .item .text
{
		position: absolute;
    top: 0%;
    left: 0%;
    font-size: 18px;
    width: 90%;
    height: 85%;
    background: rgba(255, 255, 255, 1);
    margin: 0px;
    transition: 0.5s ease;
		opacity: 0;
		margin: 5%;
		transform: scale(0);
}
#portfolio .item:hover .text
{
	padding: 20px 10px;
	opacity: 1;
	transform: scale(1);
}
#portfolio .item .text p
{
	color: #000;
	text-align: center;
	font-weight: 200;
	font-size: 0.8em;
}
#portfolio .item .text h4
{
	text-transform: uppercase;
}
#portfolio .item .text h5
{
	font-weight: 400;
	text-transform: uppercase;
}

#portfolio .item .text p span
{
	font-size: 1.3em;
	font-weight: 300;
}

#portfolio .owl-theme .owl-dots .owl-dot.active span
{
	background-color: #286DA8 !important;
}
#portfolio .counter
{
	background-color: #fff;
	color: #286DA8;
	padding: 40px;
}
#portfolio .counter h2
{
	font-weight: bolder;
}
#portfolio .counter h3
{
	font-weight: normal;
}
#portfolio .counter .icon
{
	font-size: 3em;
}

#home_about
{
	background: url(../img/banner2.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
#home_about .head
{
	padding: 3em 0;
	color: #fff;
}
#home_about h1
{
	font-size: 80px;
	font-weight: 700;
}

#home_services
{
	background: url(../img/banner1.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
#home_services .head
{
	padding: 3em 0;
	color: #fff;
}
#home_services h1
{
	font-size: 80px;
	font-weight: 700;
}
#services
{
	padding: 50px 0px;
}
#services .items .item-holder
{
	padding: 0px 10px;
}
#services .items .item-holder .item
{
	background: #f5f5f5;
	border-radius: 0px;
	overflow: hidden;
	padding-bottom: 10px;
	transition: 0.5s ease;
	-webkit-box-shadow: 2px 2px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 3px -2px rgba(0,0,0,0.75);
}
#services .items .item-holder .item:hover
{
	cursor: pointer;
	-webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.75);
}
#services .items .item-holder .item img
{
	width: 100%;
	height: 150px;
}
#services .items .item-holder .item h3,#services .items .item-holder .item p
{
	font-size: 1.1em;
	padding:0px 20px;
}
#services .items .item-holder .item p
{
	opacity: 0.8;
}
#services .tab-pane
{
	margin-top: 30px;
	background: #f5f5f5;
	padding:30px;
}
#home_contact
{
	background: url(../img/banner4.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
#home_contact .head
{
	padding: 3em 0;
	color: #fff;
}
#home_contact h1
{
	font-size: 80px;
	font-weight: 700;
}



#products
{
	background: url(../img/banner3.jpg) no-repeat fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
#products .head
{
	padding: 3em 0;
	color: #fff;
}
#products h1
{
	font-size: 80px;
	font-weight: 700;
}

#contact-form
{
    border: 48px solid #f3f5f8;
		padding-bottom: 5em;
}
@media (max-width:767px)
{
	#contact-form
	{
	    border: 15px solid #f3f5f8;
			padding: 30px;
	}
}
#contact-form input
{
	height: 40px;
}
#contact-form .input
{
	padding-top: 10px;
	padding-left: 0;
}
#contact-form label
{
	font-weight: 300;
    margin: 10px 0;
    color: #494c50;
}
#contact-form .form-control
{
	font-size: 12px;
    background-color: #fff;
    border: 1px solid rgb(64, 67, 71);
    border-radius: 0;
}
#contact-form .main-heading
{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 1.5em;
    margin-top: 30px;
    text-transform: uppercase;
}
#contact-form .form-control:focus
{
    border-color: #283842;
    box-shadow: none;
}
#contact-form a
{
	border: 1px solid rgb(64, 67, 71);
  color: rgb(64, 67, 71);
  float: none;
  font-size: 13px;
  height: auto;
  letter-spacing: 2px;
  line-height: 1;
  margin: 8px 10px 6px 0;
  padding: 11px 30px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border-radius: 0;
	transition: 0.3s ease;
}
#contact-form a:hover
{
	background: transparent;
}
#contact-form #result
{
	background: transparent;
	border: none;
}
#contact-form .cont-head
{
  padding-top: 2em;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: -1px;
}
#contact-form .cont-sub
{
  font-size: 22px;
  opacity: 0.6;
  line-height: 1.2;
  padding-bottom: 30px;
}
#contact
{
	padding-top: 0;
	padding-bottom: 0;
    background: #fff;
}
#contact .container
{
  width: 100%;
  color: #fff;
}

#map
{
	height: 400px;
}


footer
{
	padding-top: 30px;
	background: #4E4C4C;
	color: #fff;
}
footer p
{
	color: #fff;
}
footer .top-items
{
	padding: 20px 0px;
	margin: 0;
}
footer .top-items .item
{
	padding: 10px;
}
footer .top-items .item .glyphicon
{
	color: #fff;
	font-size: 2em;
}
footer .top-items .item p
{
	font-size: 1.5em;
	font-weight: lighter;
}

footer .contents
{
	padding: 5px 0px 40px 0px;
}
footer .contents .item
{
}
footer .footer
{
	background: #fff;
	padding:10px 0px;
}
footer .footer p
{
	color: #34373c;
}
footer .logo img
{
	height: 100px;
}
footer .breaker
{
	opacity: 0.3;
}
footer .item p
{
	line-height: 30px;
	letter-spacing: 0.1;
	opacity: 0.8;
}
footer .item p a
{
	line-height: 30px;
	letter-spacing: 0.1;
	opacity: 0.8;
	color: #fff;
}
footer .item p.footer-subhead
{
	opacity: 0.8;
}
footer .footer p
{
		color: #000;
		opacity: 0.9;

}
footer .footer a
{
		color: #000;
		opacity: 0.9;
}
@media (max-width : 767px)

{
	footer .top-items .item .glyphicon
	{
		text-align: center !important;
	}
}
#errorpage
{
	padding: 0;
}
#errorpage .container img
{
	margin: 0 auto;
}
